@media (min-width : 260px ) and (max-width : 1170px)    {

    .main-nav{
       /* height: auto; */
       flex-direction: column;
       transition: all 1.5s ease-out;

   } 



   .nav-main{
       flex-direction: column;
       background-color: azure;
       width: 10vh;
       height: 15vh;
   }

   .nav-part2{
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   
   }

   .nav-part3{
       /* visibility: hidden; */
       display: flex;
       flex-direction: column;
       flex-wrap: nowrap;
   }

   .burger{
       display: block;
   }

   .burger.active .line:nth-child(2){
       opacity: 0;
   }

   .burger.active .line:nth-child(1){
       transform: translateY(7px) rotate(40deg);
       }

   .burger.active .line:nth-child(3){
       transform: translateY(-12px) rotate(-43deg);
   }


   .nav-menu {
       position: fixed;
       left: -100%;
       top: -20px;
       /* gap: 40px; */
       flex-direction: column;
       background-color: #1a78a6;
       width: 80px;
       text-align: left;
       transition: 0.3s;
       height: 100%;
       display: flex;
       justify-content: center;
   
   }

   .nav-list{
       margin: 0px;
   
   }

   .nav-list a{
       font-size: 25px;
       margin-left: -25px;
       line-height: 4;
   }

   .nav-list2{
       margin:  0px;
   }

   .nav-menu.active{
       left: 0;
   }

} 
